@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
	font-family: 'Pixelify Sans', sans-serif;
	color: #ffffff;
	background-color: #6f0083;
	margin: 0;
	padding: 0;
	font-size: 2rem;
	min-height: 100vh;
	flex-direction: column;
	display: flex;
	overflow: hidden;
}

main {
	width: 100%;
	height: calc(100vh - 64px);
	padding: 1rem;
	box-sizing: border-box;
	overflow: auto;
}

h1 {
	font-size: 2rem;
	font-weight: bold;
}

h1,
h2 {
	margin: 0;
}

* {
	box-sizing: border-box;
}

.background {
	position: fixed;
	width: 250%;
	height: 250%;
	top: 50%;
	left: 50%;
	z-index: -1;
	background-size: 550px;
	background-position: -100px -100px;
	background-image: url('https://izumiihd.github.io/pixelitcdn/assets/background.png');
	transform: translate(-50%, -50%) rotate(15deg);
	opacity: 0.1;
}

body {
	margin: 0;
	padding: 0;
	background: #6f0083;
	color: white;
	font-family: Pixelify Sans;
	overflow: hidden;
}

@keyframes blooks {
	0% {
		transform: translateY(-1rem) rotate(1deg);
	}
	50% {
		transform: translateY(1rem) rotate(0deg);
	}
	100% {
		transform: translateY(-1rem) rotate(1deg);
	}
}

h1 {
	font-size: 4rem;
	margin-bottom: 10px;
}

main {
	display: flex;
	height: 100vh;
	width: 100%;
}

.terms {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	font-size: 1rem;
	font-weight: bold;
}

.terms a {
	color: white;
	text-decoration: none;
}

.terms a:hover {
	text-decoration: underline;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	flex: 1;
	text-shadow: #000 1px 0 13px;
}

.blooks {
	display: flex;
	flex: 2;
	align-items: center;
	justify-content: center;
}

.blooks img {
	width: 70%;
	animation: blooks 10s ease infinite;
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));
}

.subheading {
	font-size: 2rem;
	text-shadow: #000 1px 0 13px;
}