<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blacklisted</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">

    <link rel="icon" type="image/png" href="https://izumiihd.github.io/pixelitcdn/assets/img/favicon.ico">

    <link rel="stylesheet" href="/styles/blacklisted.css">
</head>

<body>

<img class="background" alt="background"/>

<main>

    <div class="blacklisted-wrapper">

        <img
            src="https://raw.githubusercontent.com/IzumiiHD/pixelitcdn/main/assets/img/blooks/Space/TimTheAlien.gif"
            class="animated-blook"
            alt="blook"
        />

        <div class="blacklisted-message-container">

            <h1>You have been blacklisted</h1>
            <p>If you believe this is a mistake, please contact support.</p>

        </div>

    </div>
</main>

<script src="/js/loadingModal.js"></script>
<!-- <script src="/js/blacklisted.js"></script> saving this for later use -->

</body>
</html>
